@import "tailwindcss";

body {
    background: #E9E9E9;
}

.clip-path{
    clip-path: path("M 30,0 H 970 A 30,30 0 0 1 1000,30 V 820 A 30,30 0 0 1 970,850 H 270 A 30,30 0 0 1 240,820 V 650 A 20,20 0 0 0 220,630 H 140 A 20,20 0 0 1 120,610 V 520 A 20,20 0 0 0 100,500 H 30 A 30,30 0 0 1 0,470 V 30 A 30,30 0 0 1 30,0 Z");
}

.clip-path2{
    border-radius: 10px;
    clip-path: path("M 0 0 H 420 A 20 20 0 0 1 440 20 V 100 A 20 20 0 0 0 460 120 L 530 120  A 20 20 0 0 1 550 140 V 530 A 20 20 0 0 1 530 550 L 20 500 A 20 20 0 0 1 0 480 V 20 A 20 20 0 0 1 20 0 Z");
}